<html>
  <head>
    <style type="text/css">
      #header {
        padding: 0;
        margin: 0;
      }
      .content-header {
        width: 100%;
        color: black;
        padding: 2px;
        padding-top: 5px;
        margin-top: 0.2cm;
        margin-left: 1cm;
        margin-right: 0.5cm;
        margin-bottom: 0.5cm;
        font-size: 8px;
      }
      .header-logo {
        max-width: 5cm;
        max-height: 2cm;
      }
    </style>
  </head>
  <body>
    <div class="content-header">
      <img
        class="header-logo"
        src="https://play-lh.googleusercontent.com/PdSUT7ZQXJXZycSFsogzsoneiKh76qLfqlUse1hCkrQwr5ci3D7Be9mbaaP8vnJqXMU"
      />
      <img
        class="header-logo"
        src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Mangalarga_Marchador_Conforma%C3%A7%C3%A3o.jpg"
      />
      <!-- src="http://api:8000/api/v2/sis-logo/hs?t=1679039608915" -->
    </div>
  </body>
</html>
